streamlit==1.32.0
pandas==2.2.1
numpy==1.26.4
transformers==4.39.3
sentence-transformers==2.2.2
huggingface_hub==0.22.2
scikit-learn==1.4.1
seaborn==0.13.2
matplotlib==3.8.3
plotly==5.19.0
openpyxl==3.1.2
faiss-cpu==1.7.4
tqdm==4.66.1
